:root {
	--primary: #6C38CC;
	--anti-accent: #7C7C8A;
}

body {
	font-family: 'Roboto' sans-serif;
	background-color: #202024;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smothing: grayscale;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

.wrapper {
	background-color: #202024;
	border-radius: 8px;
	padding: 30px 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.timer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.info {
	font-size: 20px;
	line-height: 160%;
	font-weight: 700;
	user-select: none;
	cursor: default;
}

.info input {
	width: 40px;
	background: none;
	border: none;
	text-align: center;
	font-weight: 700;
	color: var(--anti-accent);
	font-size: 25x;
	padding: 5px 10px;
	user-select: none;
}

.info input::-webkit-outer-spin-button,
.info input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.info input[type="number"] {
	-moz-appearance: textfield;
}

.countdown {
	display: flex;
	gap: 16px;
	align-items: center;
}

.num {
	font-family: 'Roboto Mono', monospace;
	font-size: 160px;
	line-height: 1;
	background-color: #29292E;
	padding: 35px 25px;
	border-radius: 8px;
	cursor: default;
	user-select: none;
}

.dots {
	font-family: 'Roboto Mono', monospace;
	font-size: 160px;
	color: var(--primary);
	cursor: default;
	user-select: none;
}

.button {
	background-color: var(--primary);
	border: none;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 700;
	color: white;
	gap: 10px;
	padding: 17px;
	width: 100%;
	opacity: 0.85;
	transition: all 0.2s linear;
	cursor: pointer;
}

.button:hover {
	opacity: 1;
	transition: all 0.2s linear;
}
